.list-bar{
  display: flex;
  gap: 75%;
}

.fa-solid, .fa-regular{
  margin-top: auto;
  margin-bottom: auto;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item, .element{
  display: flex;
  gap: 20px;
  width: 100%;
  padding-left: 15px;
}

.circle{
  background-color: blue;
  border-radius: 50px;
  width: 23px;
  height: 23px;
}

.element{
  gap: 30px;
}

i{
  width: 20px;
}

button{
  background-color: unset;
  border: unset;
}
