.profile{
  display: flex;
}

.tasks{
  margin-bottom: 7px;
}

.profile-image{
  margin: auto 0px auto 0px;
  border-radius: 50px;
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  background-color: blue;
}

.profile-name{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-size: 15pt;
  font-weight: bold;
}

.text-bar{
  display: flex;
  gap: 6px;
  width: 90px;
  height: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}

.search-bar{
  height: 1.2rem;
  background-color: #ffefba;
  border-radius: 50px;
  margin: 20px 0px 5px 0px;
  font-size: small;
}

.list-bar{
  display: flex;
  gap: 75%;
}

.fa-solid, .fa-regular{
  margin-top: auto;
  margin-bottom: auto;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item, .element, .calendar{
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: -15px;
}

.circle{
  background-color: blue;
  border-radius: 50px;
  width: 23px;
  height: 23px;
}
.calendar{
  gap: 10px;
  margin: 0px;
}
.element{
  margin-left: -7px;
}
.fa-calendar-days{
  margin-left: -10px;
}
.element{
  gap: 30px;
}

i{
  width: 20px;
}

button{
  background-color: unset;
  border: unset;
}

.title{
  font-size: 12pt;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.options{
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.settings, .sign-out{
  display: flex;
  gap: 23px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
