h1{
  margin: 0px;
  margin-top: -12px;
  margin-bottom: 15px;
  font-size: 24pt;
}
.progress{
  font-size: 16pt;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 5px;
}

p{
  margin: 0px;
  margin-bottom: 15px;
}

.element{
  display: flex;
  font-size: 0.9rem;
  margin-left: 6px;
}

.title{
  display: flex;
}

.button{
  margin: auto 50px auto auto;
  background-color: #f7cb3b;
  padding: 6px;
  border-radius: 10px;
  border: unset;
  padding: 7px;
}

.progress-bar{
  margin-top: -10px;
  margin-right: 50px;
}

.tag{
  background-color: var(--mi-color-dinamico);
  border-radius: 10px;
  padding: 1px 5px 1px 5px;
  font-size: small;
  width: fit-content;
  height: 16px;
}

.info{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

input {
  height: 24px;
  width: 24px;
  margin: auto 0px auto 0px;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text-progress {
  width: fit-content;
  font-size: small;
  margin: 0px auto;
}

progress{
  width: 100%;
  height: 13px;
  background-color: white; 
  overflow: hidden;
}

progress::-webkit-progress-value {
  background-color: #f7cb4a; 
  border-radius: 15px;
  transition: width 0.3s ease-in-out;
}

progress::-webkit-progress-bar {
  background-color: #fdefc4;
  border-radius: 15px;
}

progress::-moz-progress-bar {
  background-color: #fdefc4; 
  border-radius: 15px;
  transition: width 0.3s ease-in-out;
}

.chevron {
  margin: auto 50px auto auto;
  border: none;
  background: none;
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.visual-checkbox {
  height: 20px;
  width: 20px;
  border: 2px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: background-color 0.2s, border-color 0.2s;
}
.visual-checkbox::after {
  content: '';
  position: absolute;
  display: none; 

  left: 8px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.hidden-checkbox:checked + .visual-checkbox::after {
  display: block; /* Muestra la palomita */
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.task-text {
  font-size: 16px;
  color: #333;
}

.visual-checkbox::after {
  left: 8px;
  top: 2px;
  width: 3px;
}