<h2> {{ dateString }}</h2>
<h2> {{ countCompleted }} / {{ todoList.length }} </h2>
<p>Today's Progress</p>
<p> Progress Bar </p>

<div class="section">
  <div class="title">
    <h3>Today</h3>
    <button (click)="sendSelectionToHome()" class="button">
      <i class="fa-solid fa-plus" ></i>
    </button>
  </div>
  @for (item of todoList; track $index) {
    <div class="element">
      <label for="checkComplete-{{$index}}"></label>
      <input
        id="checkComplete-{{$index}}" type="checkbox"
        class="checkbox"
        [(ngModel)]="item.is_completed" (ngModelChange)="onCheckboxChange(item)"
      >
      <div class="info">
        {{ item.name }}
        <div class="tag" [style.--mi-color-dinamico]="item.tag.color">{{ item.tag.name }}</div>
      </div>
    </div>
  }
</div>
