<h2> {{ date | date:'fullDate' }}</h2>
<p class="progress"> {{ countCompleted }} / {{ todoList.length }} </p>
<p>Today's Progress</p>
<div class="progress-bar">
  <progress class="w3-red"  id="file" [max]="todoList.length" [value]="countCompleted">70%</progress>
  <p class="text-progress">{{ progressPercentage }}% completed</p>
</div>
<div class="section">
  <div class="title">
    <h3>Today</h3>
    <button (click)="sendSelectionToService('add_todo')" class="button">
      <i class="fa-solid fa-plus" ></i>
    </button>
  </div>
  <div class="list">
  @for (item of todoList; track $index) {
    <div class="element">
      <label for="checkComplete-{{$index}}"></label>
      <input
        id="checkComplete-{{$index}}" type="checkbox"
        class="checkbox"
        [(ngModel)]="item.is_completed" (ngModelChange)="onCheckboxChange(item)"
      >
      <div class="info">
        {{ item.name }}
        <div class="tag" [style.--mi-color-dinamico]="item.tag.color">{{ item.tag.name }}</div>
      </div>
      <button class="chevron" (click)="sendSelectionToService('edit', item)">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  }@empty {
    <li>There are no Todos on your list</li>
  }
  </div>

</div>
