<h3>To-do: </h3>

<label></label>

<!-- <form #newTodoForm="ngForm" (ngSubmit)="addTodo(newTodoText.value); newTodoForm.reset()"> -->
<div class="todo-details">
    <input class="title" type="text" id="newTodoTitle" name="newTodoTitle" placeholder="Write New Todo" required #newTodoTitle>
    <input class="description" type="text" id="newTodoText" name="newTodoText" placeholder="Write New Todo" required #newTodoText>
    <h4>List: </h4>
    <h4>Due Date: </h4>
    <h4>Sub Task: </h4>
    <h4>Repeat: </h4>
    <button type="submit">Add new Todo</button>
</div>

<!-- </form> -->
