.title{
    height: 15px;
    padding: 2%;
    padding-left: 5%;
}
.description{
    height: 75px;
    padding: 2%;
    padding-left: 5%;
}

.todo-details{
    display: flex;
    flex-direction: column;
    gap: 10px
}