.title{
    height: 15px;
    padding: 2%;
    padding-left: 5%;
}
.description{
    height: 75px;
    padding: 2%;
    padding-left: 5%;
}

.todo-details{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.list{
  display: flex;
  gap: 20px;
}
select{
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.tag{
  margin-top: auto;
  margin-bottom: auto;
  height: 15px;
  padding: 2%;
  padding-left: 5%;
}

select{
  margin-top: auto;
  margin-bottom: auto;
  height: 20px;
  padding-left: 5%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label{
  margin-top: 5px;
  height: 26px;
  font-weight: bold;
}
