h2{
  margin: 0px;
  font-size: 16pt;
}
.title, .title2{
    height: 50px;
    padding: 2%;
    padding-left: 5%;
}
.title2{
  padding: 5%;
  margin-top: 17px;
}
.description, .description2{
    height: 175px;
    padding: 2%;
    padding-left: 5%;
}

.description2{
  height: 220px;
}

.todo-details{
    width: 256px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 97.5%;
    padding-top: 33%;
}

.extra, .add_sub_task{
  margin-left: 10px;
}
form{
  height: 100%;
}

.list{
  display: flex;
  gap: 12px;
}

.tag{
  margin-top: auto;
  margin-bottom: auto;
  height: 15px;
  padding: 2%;
  padding-left: 5%;
}
select{
  background-color: var(--mi-color-dinamico);
  margin-top: auto;
  margin-bottom: auto;
  height: 20px;
  padding-left: 5%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label{
  margin-top: 5px;
  height: 26px;
  font-weight: bold;
  font-size: 11pt;
}
.tag_selector{
  margin: auto 0px auto 0px;
  background-color: var(--mi-color-dinamico);
  height: 20px;
  padding: 0px 8px 0px 8px;
}
button{
  margin-left: 17px;
  background-color: unset;
  border: unset;
}

.selector{
  margin: 0px;
}

.add_sub_task{
  display: flex;
  gap: 27px;
}

.repeat{
  display: flex;
  gap: 27px;
}

.fa-repeat{
  margin: auto 0px auto 0px;
}
.option-buttons{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 100%;
}

.buttons-group{
  display: flex;
  margin-left: 30px;
  margin-bottom: 35px;
}

.save, .save-todo{
  background-color: #ffca2d;
  padding: 4%;
  border-radius: 5px;
  font-size: 11pt;
}

.save-todo{
  margin: 0px;
  margin-bottom: 35px;
}

.delete{
  font-size: 11pt;
  margin: 0px;
  padding: 4%;
}

input, textarea{
  border: 3px solid #dddddd;
}