<div class="todo-details">
  <h2>To-do: </h2>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    @if (todoForm.get('name')?.hasError('required') && todoForm.dirty) {
      <div> Name is required </div>
    }

    @if (todoForm.get('description')?.touched) {
      @if (todoForm.get('description')?.hasError('required')) {
        <div> Description is required </div>
      }
      @if (todoForm.get('description')?.hasError('minlength') || todoForm.get('description')?.hasError('maxlength')) {
        <div> Description must be between 5 - 100 characters long </div>
      }
    }
    @if (!is_editing) {
      <label for="name"> Name: </label>
      <input formControlName="name" placeholder="Write new todo" class="title" id="name" >
    }@else {
      <input formControlName="name" placeholder="Write new todo" class="title2" id="name" >
    }
    @if (!is_editing) {
      <label for="description"> Description: </label>
      <textarea
      class="description" rows="3"
      formControlName="description"
      placeholder="Write New description"
      id="description"
      ></textarea>
    }@else{
      <textarea
      class="description2" rows="3"
      formControlName="description"
      placeholder="Write New description"
      id="description"
      ></textarea>
    }
    
    

    <div class="list">
      <label for="tag" class="extra"> List: </label>
      <select formControlName="tag" id="tag" [style.--mi-color-dinamico]="color" (click)="setColor(todoForm.value.tag!)">
      @for (item of tagsList; track $index) {
        <option value={{item.name}} (click)="setColor(item.color)" [ngStyle]="{'background-color': item.color}" >{{ item.name }}</option>
      }
      </select>
    </div>

    <label for="due_date" class="extra">Due Date: 
      <button class="selector" (click)="changeValue()" type="button">{{todoForm.controls.due_date.value | date:'fullDate' | date2 }}</button>
    </label>

    @if(display_selector){ 
      <mat-form-field class="extra">
        <input matInput [matDatepicker]="picker" [placeholder]="dateString" formControlName="due_date" id="due_date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    }

    <div class="important">
      <label for="important" class="extra">Important: </label>
      <input formControlName="is_important"  type="checkbox" id="important">
    </div>

    <label class="extra">Sub Task: </label>
    <div class="add_sub_task">
      <button>
        <i class="fa-solid fa-plus"></i>
      </button>
      <div>Add New Sub Task</div>
    </div>
    <div class="repeat">
      <i class="fa-solid fa-repeat"></i>
      <label>Repeat: </label>
    </div>
    <div class="option-buttons">
      @if (is_editing) {
        <div class="buttons-group">
          <button [disabled]="todoForm.invalid" class="delete" (click)="deleteTodo()">Delete Task</button>
          <button [disabled]="todoForm.invalid" class="save">Save Changes</button>
        </div>
      }@else{
        <button [disabled]="todoForm.invalid" class="save-todo">Save Todo</button>
      }
      </div>
  </form>
</div>
