.sidebar{
    width: 33%;
    min-width: 175px;
    max-width: 300px;
    padding: 2%;
    background-color: #ffeac4;
    border-radius: 10px 0px 0px 10px;
    margin: 50px;
    margin-right: 0px;
}
.center{
    width: 100%;
    padding: 2%;
}
.right{
    width: 33%;
    padding: 2%;
    margin: 50px;
    margin-left: 0px;
}

.sections{
    display: flex;
}
