.sidebar{
    width: 22%;
    min-width: 175px;
    max-width: 240px;
    padding: 2%;
    background-color: #ffeac4;
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
}
.center{
    width: 100%;
    padding: 2%;
}
.right{
    width: 18%;
    height: 93%;
    /* width: 22%; */
    /* width: 35%; */
    padding: 0% 2% 0% 2%;
    padding-left: 0px;
}

.sections{
    display: flex;
    height: 100%;
}
