.list-bar{
  display: flex;
  height: 40px;
  margin-bottom: -8px;
}
.item-name{
  margin: auto;
  font-size: small;
}
p{
  font-size: 13pt;
  font-weight: bold;
}
.fa-solid{
  margin-top: auto;
  margin-bottom: auto;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item, .tag{
  display: flex;
  gap: 25px;
  margin-left: -2.4rem;
}

.circle{
  background-color: blue;
  border-radius: 50px;
  width: 23px;
  height: 23px;
  background-color: var(--mi-color-dinamico);
}

.button{
  margin-top: 15px;
  background-color: unset;
  border: unset;
  margin-left: auto;
  margin-right: -5px;
}

.tag{
  margin-left: -0.5rem;
  font-size: 12pt;
  border: unset;
  background-color: unset;
}
