.list-bar{
  display: flex;
}

.fa-solid{
  margin-top: auto;
  margin-bottom: auto;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item{
  display: flex;
  gap: 20px;
  margin-left: -2rem;
}

.circle{
  background-color: blue;
  border-radius: 50px;
  width: 23px;
  height: 23px;
  background-color: var(--mi-color-dinamico);
}

button{
  margin-top: auto;
  margin-bottom: auto;
  background-color: unset;
  border: unset;
  margin-left: auto;
  margin-right: -5%;
}
